<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../src/output.css">
    <title>Document</title>
</head>
<body>
    <div class="flex flex-col justify-center items-center h-7">
        <div class="flex w-[300px] p-2 justify-between">
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page1.html">1</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page2.html">2</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page3.html">3</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page4.html">4</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page5.html">5</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page6.html">6</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page7.html">7</a></div>
        </div>
        <div class="w-[320px] p-4">
            <div class="flex w-full justify-center items-center my-6">
                <img class="w-5 h-5" src="../img/icon7.png" alt="icon7">
                <h1 class="text-center w-full text-xl font-[Montserrat] font-semibold">Workout Tracker</h1>
            </div>
            <div class="w-full my-6">
                <img class="w-full my-6" src="../img/Picture6.png" alt="pic5">
                <div class="flex justify-center items-center w-full rounded-2xl p-2  bg-gradient-to-r from-[#819DFF47] to-[#10101000]">
                    <img class="w-[40px] m-3" src="../img/alert.png" alt="alert">
                    <p class="text-md ">You've burned fewer calories than yesterday. Time to get moving! </p>
                </div>
            </div>
            <div>
                <div class="flex justify-between items-center ">
                    <h1 class="font-[Montserrat] font-semibold ">Upcoming Workout</h1>
                    <p class="text-sm font-[Montserrat] font-medium">See more</p>
                </div>
                <div class="flex flex-col">
                    <div class="flex justify-between w-full items-center h-20 drop-shadow-lg bg-white rounded-xl p-3 my-1">
                        <div class="flex">
                            <img class="w-[50px]" src="../img/pic6-1.png" alt="pic6-1">
                            <div class="flex flex-col justify-center px-2">
                                <h2 class="font-[Montserrat] font-medium text-sm text-[#2C2B2B]">Full Body Workout</h2>
                                <p class="font-[Montserrat] font-medium text-xs text-[#7F7F7F]">Today 3pm</p>
                            </div>
                        </div>
                        <div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="flex justify-between w-full items-center h-20 drop-shadow-lg bg-white rounded-xl p-3 my-1">
                        <div class="flex">
                            <img class="w-[50px]" src="../img/pic6-2.png" alt="pic6-2">
                            <div class="flex flex-col justify-center px-2">
                                <h2 class="font-[Montserrat] font-medium text-sm text-[#2C2B2B]">Upper Body Workout</h2>
                                <p class="font-[Montserrat] font-medium text-xs text-[#7F7F7F]">4 Feb, 3:30 pm</p>
                            </div>
                        </div>
                        <div>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="text-[#2C2B2B] font-[Montserrat] font-semibold my-2">What Do You Want to Train</h1>
            <div class="bg-[#8CB1FF99] rounded-xl p-4 flex justify-between">
                <div class="flex flex-col">
                    <h1 class="font-[Montserrat] font-medium text-sm">Full Body Workout</h1>
                    <p class="font-[Montserrat] font-medium text-xs my-2">Arms</p>
                    <p class="font-[Montserrat] font-medium text-xs">Chest</p>
                </div>
                <img class="w-[100px]" src="../img/pic6-3.png" alt="pic6-3">
            </div>
            <div class="flex justify-evenly h-14 items-center mt-9 relative -top-20 bg-white">
                <img class="w-8 h-8" src="../img/homeIcon.png" alt="homeIcon">
                <img class="w-8 h-8" src="../img/trackIcon.png" alt="trackIcon">
                <img class="w-14 h-14 scale-125 relative top-[-30px]" src="../img/searchIcon.png" alt="searchIcon">
                <img class="w-8 h-8" src="../img/camIcon.png" alt="camIcon">
                <img class="w-8 h-8" src="../img/userIcon.png" alt="userIcon">
            </div>
        </div>
    </div>
</body>
</html>