<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../src/output.css">
    <title>Document</title>
</head>
<body>
    <div class="flex flex-col justify-center items-center h-7">
        <div class="flex w-[300px] p-2 justify-between">
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page1.html">1</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page2.html">2</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page3.html">3</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page4.html">4</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page5.html">5</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page6.html">6</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page7.html">7</a></div>
        </div>
        <div class="w-[320px] p-4 flex flex-col justify-between items-center">
            <h1 class="font-[Montserrat] mb-3 text-[#2C2B2B] font-semibold text-xl">What are your goals?</h1>
            <div class="my-2 flex justify-between bg-[#F1F1F1] w-full rounded-xl p-4">
                <p class="font-[Montserrat]">Weight Loss</p>
                <input type="checkbox" name="weight" id="weight">
            </div>
            <div class="my-2 flex justify-between bg-[#F1F1F1] w-full rounded-xl p-4">
                <p class="font-[Montserrat]">Muscle Gain</p>
                <input type="checkbox" name="weight" id="weight">
            </div>
            <div class="my-2 flex justify-between bg-[#F1F1F1] w-full rounded-xl p-4">
                <p class="font-[Montserrat]">Flexibility and Mobility</p>
                <input type="checkbox" name="weight" id="weight">
            </div>
            <div class="my-2 flex justify-between bg-[#F1F1F1] w-full rounded-xl p-4">
                <p class="font-[Montserrat]">General Fitness</p>
                <input type="checkbox" name="weight" id="weight">
            </div>
            <div class="my-2 flex justify-between bg-[#F1F1F1] w-full rounded-xl p-4">
                <p class="font-[Montserrat]">Event - specific training</p>
                <input type="checkbox" name="weight" id="weight">
            </div>
            <div class="my-2 flex justify-between bg-[#F1F1F1] w-full rounded-xl p-4">
                <p class="font-[Montserrat]">Mindfulness and Mental Health</p>
                <input type="checkbox" name="weight" id="weight">
            </div>
            <div class="w-full mt-12"><button class="h-[50px] rounded-xl w-full bg-gradient-to-r from-[#95BEFF] to-[#7B91FF]">Confirm</button></div>
        </div>
    </div>
</body>
</html>