<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../src/output.css">
    <title>Dacoid Digital-Assignment</title>
</head>
<body>
    <div class="flex flex-col justify-center items-center">
        <div class="flex w-[300px] p-2 justify-between">
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page1.html">1</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page2.html">2</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page3.html">3</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page4.html">4</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page5.html">5</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page6.html">6</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page7.html">7</a></div>
        </div>
        <div class="w-[320px] p-4">
            <div class="flex w-full justify-center items-center my-6">
                <img class="w-5 h-5" src="../img/icon7.png" alt="icon7">
                <h1 class="text-center w-full text-xl font-[Montserrat] font-semibold">Workout Schedule</h1>
            </div>
            <div class="flex justify-center items-center w-full">
                <img class="w-2 mx-2" src="../img/lessIcon.png" alt="ltIcon">
                <p class="text-sm mx-2">Feb 2024</p>
                <img class="w-2 mx-2" src="../img/gtIcon.png" alt="gtIcon">
            </div>
            <div class="flex justify-evenly items-center my-4">
                <div class="flex flex-col font-[Quicksand] font-semibold p-3 rounded-xl justify-center items-center">
                    <p class="text-sm">Sun</p>
                    <p class="text-3xl font-semibold">5</p>
                </div>
                <div class="flex flex-col font-[Quicksand] font-semibold p-3 rounded-xl justify-center items-center bg-gradient-to-r from-[#95BEFF] to-[#7B91FF]">
                    <p class="text-sm">Mon</p>
                    <p class="text-3xl font-semibold">6</p>
                </div>
                <div class="flex flex-col font-[Quicksand] font-semibold p-3 rounded-xl justify-center items-center">
                    <p class="text-sm">Tue</p>
                    <p class="text-3xl font-semibold">7</p>
                </div>
                <div class="flex flex-col font-[Quicksand] font-semibold p-3 rounded-xl justify-center items-center">
                    <p class="text-sm">Wed</p>
                    <p class="text-3xl font-semibold">8</p>
                </div>
                <div class="flex flex-col font-[Quicksand] font-semibold p-3 rounded-xl justify-center items-center">
                    <p class="text-sm">Thu</p>
                    <p class="text-3xl font-semibold">9</p>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="mb-1">
                    <span class="font-[Montserrat] font-semibold text-sm">06:00 AM</span>
                    <hr class="bg-[#7F7F7F] mt-4 h-[2px] w-full">
                </div>
                <div class="-mb-4">
                    <span class="font-[Montserrat] font-semibold text-sm">07:00 AM</span>
                    <hr class="bg-[#7F7F7F] mt-4 h-[2px] w-full">
                    <p class="inline relative -top-4 left-32 rounded-2xl px-2 bg-gradient-to-r from-[#E9B1E0] to-[#D3A4F4] text-sm">Ab Workout, 7:30am</p>
                </div>
                <div class="mb-1">
                    <span class="font-[Montserrat] font-semibold text-sm">08:00 AM</span>
                    <hr class="bg-[#7F7F7F] mt-4 h-[2px] w-full">
                </div>
                <div class="-mb-4">
                    <span class="font-[Montserrat] font-semibold text-sm">09:00 AM</span>
                    <hr class="bg-[#7F7F7F] mt-4 h-[2px] w-full">
                    <p class="inline relative -top-6 left-24 rounded-2xl px-2 bg-gradient-to-r from-[#E9B1E0] to-[#D3A4F4] text-sm">Upperbody Workout, 9am</p>
                </div>
                <div class="mb-1">
                    <span class="font-[Montserrat] font-semibold text-sm">10:00 AM</span>
                    <hr class="bg-[#7F7F7F] mt-4 h-[2px] w-full">
                </div>
                <div class="mb-1">
                    <span class="font-[Montserrat] font-semibold text-sm">11:00 AM</span>
                    <hr class="bg-[#7F7F7F] mt-4 h-[2px] w-full">
                </div>
                <div class="mb-1">
                    <span class="font-[Montserrat] font-semibold text-sm">12:00 AM</span>
                    <hr class="bg-[#7F7F7F] mt-4 h-[2px] w-full">
                </div>
                <div class="mb-1">
                    <span class="font-[Montserrat] font-semibold text-sm">01:00 AM</span>
                    <hr class="bg-[#7F7F7F] mt-4 h-[2px] w-full">
                </div>
                <div class="mb-1">
                    <div class="w-full">
                        <span class="font-[Montserrat] font-semibold text-sm">02:00 AM</span>
                        <p class="inline text-center rounded-2xl px-2 bg-[#F1F1F1] text-sm">Lowerbody Workout, 3pm</p>
                    </div>
                    <hr class="bg-[#7F7F7F] mt-4 h-[2px] w-full">
                </div>
                <div class="mb-1">
                    <span class="font-[Montserrat] font-semibold text-sm">03:00 AM</span>
                    <hr class="bg-[#7F7F7F] mt-4 h-[2px] w-full">
                </div>
                <div class="mb-1">
                    <span class="font-[Montserrat] font-semibold text-sm">04:00 AM</span>
                    <hr class="bg-[#7F7F7F] mt-4 h-[2px] w-full">
                </div>
                <div class="mb-1">
                    <span class="font-[Montserrat] font-semibold text-sm">05:00 AM</span>
                    <hr class="bg-[#7F7F7F] mt-4 h-[2px] w-full">
                </div>
            </div>
            <div class="flex justify-evenly h-14 items-center">
                <img class="w-8 h-8" src="../img/homeIcon.png" alt="homeIcon">
                <img class="w-8 h-8" src="../img/trackIcon.png" alt="trackIcon">
                <img class="w-14 h-14 scale-125 relative top-[-30px]" src="../img/searchIcon.png" alt="searchIcon">
                <img class="w-8 h-8" src="../img/camIcon.png" alt="camIcon">
                <img class="w-8 h-8" src="../img/userIcon.png" alt="userIcon">
            </div>
        </div>
    </div>
</body>
</html>