<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../src/output.css">
    <title>Dacoid Digital-Assignment</title>
</head>
<body>
    <div class="flex flex-col justify-center items-center">
        <div class="flex w-[300px] p-2 justify-between">
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page1.html">1</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page2.html">2</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page3.html">3</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page4.html">4</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page5.html">5</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page6.html">6</a></div>
            <div class="border-2 border-solid border-black rounded-full p-2"><a href="./Page7.html">7</a></div>
        </div>
        <div class="w-[320px] p-4 flex flex-col justify-between">
            <div>
                <h1 class="font-[Roboto] text-2xl font-semibold text-[#2C2B2B] mb-4">Create an account</h1>
                <div class="w-full">
                    <input class="font-[Montserrat] p-4 w-full my-2 rounded-2xl bg-[#F1F1F1]" type="text" name="firstname" id="firstname" placeholder="First Name">
                </div>
                <div class="w-full">
                    <input class="font-[Montserrat] p-4 w-full my-2 rounded-2xl bg-[#F1F1F1]"  type="text" name="lastname" id="lastname" placeholder="Last Name">
                </div>
                <div class="w-full">
                    <input class="font-[Montserrat] p-4 w-full my-2 rounded-2xl bg-[#F1F1F1]"  type="email" name="email" id="email" placeholder="Email">
                </div>
                <div class="w-full">
                    <input class="font-[Montserrat] p-4 w-full my-2 rounded-2xl bg-[#F1F1F1]"  type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="my-2 flex justify-center">
                    <span class="w-6"><input class="w-[22px]" type="checkbox" name="termcondition" id="termcondition"></span>
                    <span class="font-[Montserrat] text-sm">By proceeding, I agree to all <span class=" text-blue-400 underline">T&C</span> and  <span class=" text-blue-400 underline">Privacy Policy</span></span>
                </div>
            </div>
            <div class="mt-20 flex flex-col justify-center items-center">
                <div class="w-full my-3"><button class="h-[50px] rounded-xl w-full bg-gradient-to-r from-[#95BEFF] to-[#7B91FF]">Create an Account</button></div>
                <div class="my-3 flex justify-center items-center"><hr class="font-[Montserrat] h-[1px] w-[140px] border-0 bg-[#7F7F7F]"><span class="font-[Montserrat]">Or</span><hr class="w-[140px] h-[1px] border-0 bg-[#7F7F7F]"></div>
                <div class="my-3 w-full flex justify-center items-center">
                    <div class="w-11 h-11 flex justify-center items-center mx-2 rounded-xl border-2 border-[#7F7F7F] border-solid"><img class="w-5" src="../img/gicon.png" alt="gicon"></div>
                    <div class="w-11 h-11 flex justify-center items-center mx-2 rounded-xl border-2 border-[#7F7F7F] border-solid"><img class="w-3 h-5" src="../img/ficon.png" alt="ficon"></div>
                </div>
                <div class="mt-3 font-[Montserrat] text-sm">
                    Already have an account? <span class="text-blue-400 underline">Login</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>